node_modules/
.next/
out/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab
*.log
.env
.env.local
.DS_Store
Thumbs.db
.vscode/
.idea/
upload/
